img {
    display: block;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
    transition: transform 0.3s;
}

.gallery-image:hover,
.gallery-image:focus {
    transform: scale(1.1);
    z-index: 1;
}
